
#header {
  width: 100%;
  background-color: #f6f7f8;

}

#headerFirstRow {
  width: 100%;
  position: fixed;
  z-index: 2;
}

#headerFirstRow img {
  margin-top:5px;
  width: 70px;
  height: 22px;

}

#headerSecondRow {
  padding-top: 30px;
  width: 100%;
  background-color: #f6f7f8;
  position:fixed;
  z-index: 1;
  margin-bottom: 70px;

}
#profileSection {
  float: left;
  margin-top: -5px;
  font-family: "HelveticaNeue";

}

#profileSection img {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#profileText {
  float: right;
  margin-left: 10px;
}

#profileText h1 {
  font-size: 11px;
  font-weight: bold;
  margin-top: 5px;
}
#profileText h2 {
  font-size: 10px;
  color: grey;
  font-weight: normal;
  letter-spacing: 0.2px;

}


.alignRight {
  float:right;
}

.arrow {
  float:left;
  padding-left: 10px;
  width: 30px;
  height: 30px;
}

.videoCall {
padding-right: 15px;
 width: 90px;
 height: 33px;
}

#footer {
  width: 100%;
  background-color: #f6f7f8;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #F2EDED;
}

.plusPic {
  width: 33px;
  height: 33px;
  float: left;
  margin-left: 5px;
  margin-top: 8px;
}

#chatBox {
  float:left;
  margin: 4px 10px 4px 8px;
  height: 40px;
  width: 55%;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #F2EDED;
}

#chatBox img {
  float: right;
  width: 29px;
  height: 29px;
  padding-right: 10px;
  margin-top: 5px;
}
.photoCameraPic {
  width: 95px;
  height: 40px;
  position: relative;
  float: right;
  margin-right: 8px;
  margin-top: 5px;
}
