
#header {
  width: 100%;
  background-color: #f6f7f8;
}

#headerFirstRow {
  width: 100%;

}

#headerFirstRow img {
  margin-top:5px;
  width: 70px;
  height: 22px;

}

#headerSecondRow {
  width: 100%;
  background-color: #f6f7f8;

}

.alignRight {
  float:right;
}

.arrow {
  padding-left: 10px;
  width: 40px;
  height: 40px;
}

.videoCall {
  padding-right: 15px;
 width: 100px;
 height: 35px;
}

#footer {

}
