body {
  background-image: url('./images/wallpaper.png');
  margin: 0;
  opacity: 1;
}

/* body:hover{
  display: none;
} */

::-webkit-scrollbar {
    /* display: none; */
}

#main {
  padding-top: 75px;
}

#wrapper{
  /* display:none; */
}

#main {
  /* display:none; */
}

.leftMsg {

  align: left;
  float: left;
  /* margin-right: 51%; */
  margin: 8px 30% 8px 5vw;
  /* padding-left: 10px;
  padding-right: 10px; */
  padding: 2vw 3vw 2vw 3vw;
  background-color: #FDFDFD;
  border-radius: 30px;
  display:  block;
  font-family: "HelveticaNeue";
  font-size: 6vw;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);

}

.rightMsg {

  align: left;
  float: right;
  position: relative;
  /* margin-left: 30%; */
  margin: 8px 5vw 8px 30%;
  /* padding-right: 10px;
  padding-left: 10px; */
  padding: 2vw 3vw 2vw 3vw;
  background-color: #DCFDC0;
  border-radius: 30px;
  font-family: "HelveticaNeue";
  font-size: 6vw;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}

.textTime {
  float: right;
  text-align: right;
  font-size: 3vw;
  padding-top: 2vw;
  padding-left: 4vw;
  /* height: 100%; */
  color: grey;

  /* border-style: solid;
  border: 1px; */

}

img {
  /* border: 1px;
  border-style:solid; */
  width:  4vw;
  /* padding-top: 7px;
  margin:0; */
}

#scaryImage{
  z-index: 1;
  width:100%;
  display: none;
}

#scare {

}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-MediumExt.woff") format("woff");
}
.helvetFont{
  font-family: "HelveticaNeue"
}
